src/*.js
src/*.js.map
src/*.log
src/*.d.ts
!index.d.ts
demo/app/*.js
demo/*.d.ts
demo/lib
demo/hooks
demo/platforms
demo/node_modules
demo-vue/platforms
demo-vue/node_modules
src/node_modules
!demo/references.d.ts
!src/fancyalert.d.ts
src/package-lock.json
