demo/
screenshots/
*.png
*.log
*.ts
!*.d.ts
tsconfig.json
package-lock.json


node_modules/

*.ts
!*.d.ts
*.map
tsconfig.json
scripts/*
platforms/android/*
!platforms/android/include.gradle
!platforms/android/*.aar
!platforms/android/*.jar
references.d.ts